 <div class="clearfix"></div>

<!--=====================================--> 
<!--============== Footer ===============--> 
<!--=====================================-->
<footer class="darkBlueBg paddingBox col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="container">
    <div class="row">
      <div class="footer col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <aside class="contact-info col-lg-5 col-md-5 col-sm-6 col-xs-12">
          <ul>
            <li><img src="images/icons/Email.svg" width="25px"> P.O. Box 9346, Columbia, SC 29290</li>
            <li><img src="images/icons/Local.svg" width="25px">Greenlawn Dr., Columbia, SC 29290</li>
            <li><a href="tel:8009225332"><img src="images/icons/Phone.svg" width="25px">800.922.5332</a></li>
            <li><a href="tel:8037769365"><img src="images/icons/Phone.svg" width="25px">803.776.9365</a></li>
            <li><a href="tel:8037764260"><img src="images/icons/Fax.svg" width="25px">803.776.4260</a></li>
          </ul>
          <!--sitemap--> 
        </aside>
        <aside class="sitemap col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <ul>
            <li><a href="about"><img src="images/icons/Links Icon.svg" width="25px">About Us</a></li>
            <li><a href="resources"><img src="images/icons/Links Icon.svg" width="25px">Resources</a></li>
            <li><a href="products"><img src="images/icons/Links Icon.svg" width="25px">Products</a></li>
            <li><a href="contact"><img src="images/icons/Links Icon.svg" width="25px">Contact</a></li>
            <li><a href="login.html"><img src="images/icons/Links Icon.svg" width="25px">Log In</a></li>
          </ul>
          <!--sitemap--> 
        </aside>
        <aside class="copyright-section col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="logo pull-left"><a href="index.html"><img src="images/logo-white-text-small.png" width="222px" alt="Southern Mutual Church Insurance Logo" /></a></div>
          <ul>
            <li>Copyright 2018 - SMCIC</li>
            <li>All rights reserved.</li>
            <li><br>Made with love by <a href="http://fifthstoryinteractive.com" target="blank">FifthstoryInteractive.com </a></li>
          </ul>
          <div class="social-icons">
            <ul>
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
              </ul>
            <!--social-icons--> 
          </div>
          <!--copyright-section--> 
        </aside>
        <!--footer--> 
      </div>
      <!--row--> 
    </div>
    <!--container--> 
  </div>
  <!--darkBlueBg--> 
</footer>